<!--
  Data binding: elementos ativos html
  Properties binding - [src]

  Dentro da chave pode ser uma expressão, varivável ou uma função.
  - Consegue setar o binding de forma dinâmica.

  Vimos:

  - Binding de propriedades
  - Binding de atributos
-->

<!-- EXERCÍCIO CONTADOR -->
<!--
  [valor] = "'Olá, mundo!'" - String
  [valor] = "10" - Number
-->
<app-exercicio-contador
  [valor]="10"
  (valorMudou)="onValorAtualizadoNoContador($event)"
></app-exercicio-contador>

<hr>
<!--EXEMPLOS DE EVENT BINDING -->

<button (click)="onClickBotaoEmissor($event)">
  Emitir informação de clique.
</button><br><br>

<button (click)="onClick($event)">Clique em mim!</button>

<!--
  Propertie binding faz com chave: [value] = "valorDoInput"
  Event binding faz com parenteses: (keyup)="digitouAlgo($event)

  *Todos os eventos para capturar são informações do templates para o componentes
-->
<input
  type="text"
  [value]="valorDoInput"
  (keyup)="digitouAlgo($event)"
  (mouseenter)="passouMouse()"
/>

valor do Input: {{ valorDoInput }}

<hr />

<!--EXEMPLOS DE PROPERTY BINDING-->

<h2>Palavra: {{ palavra }}</h2>
<h2>Cor: {{ color }}</h2>
<input type="text" [value]="initialValue" />

<br />

<button [disabled]="isDisabled">Clique em mim!</button>

<br />

<!--
  operador ternario: [attr.aria-label]="isDisabled ? 'Botão desabilitado' : accessibilityText
  função: [attr.aria-label]="nomeFuncao()"
  atributo:  [attr.aria-label]="nomeAtributo"
-->
<p [attr.aria-label]="isDisabled ? 'Botão desabilitado' : accessibilityText">
  Um texto qualquer...
</p>

<br />

<img [src]="imageURL" />
