<p>Valor atual dentro de deveExibir: {{ deveExibir }}</p>

<button (click)="trocarValor()">Trocar valor</button>

<!--ngIf-->

<!--Condicional - Bloco Else-->
<div *ngIf="deveExibir; else blocoSenao" >Olá! Estou dentro do ngIf</div>

<div *ngIf="!deveExibir">
  VOU SER EXIBIDO QUANDO deveExibir for FALSE
</div>

<ng-template #blocoSenao>
  VOU SER EXIBIDO QUANDO deveExibir for FALSE
</ng-template>

<!--Expressão-->
<div *ngIf="soma(5, 6) > 10">Exibe baseado na soma</div>

<!--Sintaxe expandida-->
<ng-template [ngIf]="deveExibir">
  <div>
    Content to render when condition is true.
  </div>
</ng-template>

<!--ngIf; é um if dentro do templates-->
<div *ngIf="deveExibir; then thenBlock else elseBlock"></div>
<!--Se a condição for verdadeira irá aparecer esse bloco-->
<ng-template #thenBlock>Bloco true do ng-template</ng-template>
<!--Se não ele irá aparece outro bloco -->
<ng-template #elseBlock>Bloco false do ng-template</ng-template>

<hr>

<!--ngFor-->

<ul>
  <li *ngFor="let fruta of listaFrutas">{{ fruta }}</li>
</ul>
<!--Repete a tag p quantas vezes quiser -->
<p *ngFor="let fruta of listaFrutas">{{ fruta }}</p>

<ul>
  <!--index as index; let index = index - usa index como index -->
  <li *ngFor="let carro of carrosLista; let index = index; first as primeiro; last as ultimo">
      {{primeiro}} - {{index + 1}} - {{ carro.placa }} - {{carro.cor}} - {{ultimo}}
  </li>
</ul>
