<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body"></div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 class="mb-0">Seja Bem-vindo!</h3>
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda
          numquam voluptatem architecto vel at repellat suscipit animi ipsa
          optio asperiores culpa vero, porro quam reiciendis officiis facere
          labore dignissimos deserunt.
        </div>
      </div>
    </div>
  </div>
</div>
